body{
    font-family: 'Noto Sans JP', sans-serif;
    color: #AB9F9C;
    background-color: #320C42;
}
span{
    font-family: 'Dancing Script', cursive;
}
a{
    text-decoration: none;
    text-emphasis: none;
}
a:hover{
    color: #ffffff;
}
.top{
    position: absolute;
    top: 27%;
    right: 16px;
}
#img{
    max-width: 100%;
    height: auto;
}
footer{
    color: #ffffff;
}

*{
    scroll-behavior: smooth;
}